body {
    margin: 0;
}

header {
    background-color:  rgb(9, 9, 9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-family: "Zodiak", serif;
}

a.home {
    margin: auto;
}

a:hover {
    color: #fff;
}

    nav {
        display: flex;
        justify-content: space-between;
    }

        a {
            text-decoration: none;
            color: #9f9f9f;
            font-size: 24px;
        }

    p {
        color: #000;
    }

    section.landing {
        background-color: #fff;
        display: grid;
        font-family: "Zodiak", serif;
    }

    div.title {
        font-size: 36px;
        width: 988px;
        margin-left: auto;
        margin-right: auto;
    }

    div.subtitle {
        font-family: "General Sans", sans-serif;
        font-size: 24px;
        color: #9f9f9f;
        width: 988px;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        width: 988px;
        height: 461px;
        margin: auto;
        object-fit: cover;
        display: grid;
        padding: 40px;
    }

    

    h1 {
        font-family: "Zodiak", serif;
    }

    h4 {
        font-family: "General Sans", sans-serif;
        color: #9f9f9f;
    }

    p {
        font-family: "General Sans", sans-serif;
    }

    hr.solid {
        border-top: 6px solid #000;
      }

    section.sect1 {
        width: 988px;
        margin: auto;
        padding: 8px;
    }

    section.sect2 {
        width: 988px;
        margin: auto;
        padding: 8px;
    }

    section.sect3 {
        width: 988px;
        margin: auto;
        padding: 8px;
    }

    footer {
        background-color: black;
        color: #fff;
        text-align: center;
        margin: auto;
        padding: 10px;
    }

    @media only screen and (max-width: 600px) {

        main {
            margin: 0;
        }

        div.title {
            margin: auto;
            font-size: 24px;
        }

        div.subtitle {
            font-size: 20px;
        }

        section.landing {
            display: block;
            padding: 50px;
        }

        section.sect1 {
            width: 82%;
        }

        section.sect2 {
            width: 82%;
        }

        section.sect3 {
            width: 82%;
        }

        img {
            max-width: 100%;
            width: 350px;
            height: 200px;
            object-fit: cover;
            display: block;
            
        }
    }